In [1]:
import numpy as np
import  pandas as pd
movies = pd.read_csv("IMDB-Movie-Data.csv")
movies

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [2]:
movies.shape

(1000, 12)

In [3]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

In [4]:
#handling duplicates
ten_df = movies.append(movies)
ten_df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [5]:
ten_df.shape

(2000, 12)

In [6]:
ten_df.drop_duplicates(inplace = True)
#you can pas in another argument keep
#1 first(default)

In [7]:
ten_df.shape

(1000, 12)

In [9]:
movies.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [10]:
movies.rename(columns = {
    "Runtime (Minutes)" : "Runtime",
    "Revenue (Millions)": "Revenue"
}, inplace = True)
movies.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime', 'Rating', 'Votes', 'Revenue', 'Metascore'],
      dtype='object')

In [11]:
#renaming columns in lower case
#using for loops
new_column = []
for x in movies.columns:
    new_column.append(x.lower())
movies.columns = new_column

In [ ]:
#using map function
movies.columns = List(map(str.lower,movies.columns))

In [ ]:
#using list comprehension
movies.columns = [col.upper() for col in movies]
movies

In [12]:
#dealing with missing values
#how to get rid of rows,columns with nulls
#how to replace nulls with non nulls
movies.isnull().head()

,rank,title,genre,description,director,actors,year,runtime,rating,votes,revenue,metascore
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False

In [16]:
#sum of null values in columns
movies.isnull().sum()

rank           0
title          0
genre          0
description    0
director       0
actors         0
year           0
runtime        0
rating         0
votes          0
revenue        0
metascore      0
dtype: int64

In [17]:
revenue = movies["revenue"]
revenue.head()

0    333.13
1    126.46
2    138.12
3    270.32
4    325.02
Name: revenue, dtype: float64

In [18]:
#replace the null values with hte mean
revenue_mean = revenue.mean()
revenue_mean

84.56455847255368

In [30]:
revenue.fillna(revenue_mean,inplace = True)

In [20]:
#movies.dropna(inplace = True)

In [31]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 838 entries, 0 to 999
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rank         838 non-null    int64
 1   title        838 non-null    object
 2   genre        838 non-null    object
 3   description  838 non-null    object
 4   director     838 non-null    object
 5   actors       838 non-null    object
 6   year         838 non-null    int64
 7   runtime      838 non-null    int64
 8   rating       838 non-null    float64
 9   votes        838 non-null    int64
 10  revenue      838 non-null    float64
 11  metascore    838 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 85.1+ KB

In [22]:
movies.columns

Index(['rank', 'title', 'genre', 'description', 'director', 'actors', 'year',
       'runtime', 'rating', 'votes', 'revenue', 'metascore'],
      dtype='object')

In [23]:
metascore = movies["metascore"]
metascore_mean = metascore.mean()
metascore_mean

59.575178997613364

In [24]:
movies["genre"].describe()

count                         838
unique                        189
top       Action,Adventure,Sci-Fi
freq                           50
Name: genre, dtype: object

In [28]:
movies["genre"].value_counts().head(n = 180)

Action,Adventure,Sci-Fi    50
Comedy,Drama,Romance       30
Drama                      29
Drama,Romance              27
Comedy                     26
                           ..
Comedy,Fantasy,Romance      1
Drama,Fantasy,War           1
Adventure,Family            1
Adventure                   1
Animation,Comedy,Drama      1
Name: genre, Length: 180, dtype: int64

In [26]:
x = movies[["genre","rating"]]
x.head()

                      genre  rating
0   Action,Adventure,Sci-Fi     8.1
1  Adventure,Mystery,Sci-Fi     7.0
2           Horror,Thriller     7.3
3   Animation,Comedy,Family     7.2
4  Action,Adventure,Fantasy     6.2

In [32]:
movies.head(2)

,rank,title,genre,description,director,actors,year,runtime,rating,votes,revenue,metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0